<% extend Public::PostsHelper %>

<% posts.each do |post| %>
<% category_color = determine_category_color(post.category.category_name) %>
  <div class="col-sm-10 py-1">
    <div class="card" style="border-color: <%= category_color %>;">
      <div class="card-header" style="background-color: <%= category_color %>;">
        <%= link_to post.category.category_name, root_path(category: post.category.category_name), class: "btn btn-sm btn-secondary" %>
        <%= link_to user_path(post.user.id) do %>
          <%= image_tag post.user.get_profile_image, size:'50x50', style: 'border-radius: 50%; overflow: hidden; margin-right: 10px; border: 1px solid #a9a9a9; background-color: white;' %>
          <span style="color: black;"><%= post.user.name %></span>
        <% end %>
      </div>
      <div class="card-body row align-items-center">
        <div class="col-sm-3 text-left">
          <h2><%= link_to post.title, post_path(post.id) %></h2>
        </div>
        <div class="col-sm-1 text-center">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_post_image, size: '140x100', style: 'border-radius: 5%; overflow: hidden; background-color: white; margin-right: px;' %>
          <% end %>
        </div>
        <div class="col-sm text-right">
          <p class="badge badge-light">
            <% post.tags.each do |t| %>
              <%= link_to "##{t.tag_name}", root_path(tags: t.tag_name) %>
            <% end %>
          </p>
          <p class="badge badge-primary">
            いいね数:<%= post.favorites.count %>
          </p>
          <p class="badge badge-primary">
          コメント数:<%= post.comments.includes(:user).where(user: { is_active: true }).count %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>