<% posts.each do |post| %>
  <div class="col-sm-10 py-1">
    <div class="card">
      <div class="card-header">
        <%= link_to post.category.category_name, root_path(category: post.category.category_name), class: "btn btn-sm btn-success" %>
        <%= link_to user_path(post.user.id) do %>
          <%= image_tag post.user.get_profile_image, size:'50x50', style: 'border-radius: 50%; overflow: hidden; margin-right: 10px; border: 1px solid #a9a9a9;' %>
          <%= post.user.name %>
        <% end %>
      </div>
      <div class="card-body row align-items-center">
        <div class="col-3 text-left">
          <h2><%= link_to post.title, post_path(post.id) %></h2>
        </div>
        <div class="col-1 text-center">
          <%= image_tag post.get_post_image, size:'140x100', style: 'border-radius: 5%; overflow: hidden; background-color: white; margin-right: px;' %>
        </div>
        <div class="col text-right">
          <p class="badge badge-light">
            <% post.tags.each do |t| %>
              <%= link_to "##{t.tag_name}", root_path(tags: t.tag_name) %>
            <% end %>
          </p>
          <p class="badge badge-pill badge-primary">
            いいね数<%= post.favorites.count %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>