<div class="container py-5">
  <h2 class="pb-5 ml-5"><%= @post.title %></h2>
  <%= @post.category.category_name %>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= tag.tag_name %></li>
    <% end %>
  </ul>
  <%= image_tag @post.top_image, size:'297x210' %>
  <%= @post.body_top %>
  
  <% if @post.middle_image.attached? %>
    <%= image_tag @post.middle_image, size:'297x210' %>
  <% end %>
  
  <% if @post.body_middle.present? %>
    <%= @post.body_middle %>
  <% end %>
  
  <% if @post.bottom_image.attached? %>
    <%= image_tag @post.bottom_image, size:'297x210' %>
  <% end %>
  
  <% if @post.body_bottom.present? %>
    <%= @post.body_bottom %>
  <% end %>
  
  <% if @post.user == current_user %>
  <div class="row justify-content-around">
  <%= link_to "編集する", edit_post_path(@post.id),class: 'btn btn-success btn-lg' %>
  </div>
  <% end %>
</div>