<div class="container py-5">
  <div class="row justify-content-around"><div class="box"><%= @post.title %></div></div>
  <div class="row pt-3">
    <div class="col-8" style="border-radius: 5%; background-color: white; border-radius: 20px; border: 2mm ridge rgba(187, 187, 187, .41);">
      <div class="py-3">
        <%= link_to @post.category.category_name, root_path(category: @post.category.category_name), class: "btn btn-sm btn-success" %>
          <p class="badge badge-light">
            <% @tags.each do |t| %>
              <%= link_to "##{t.tag_name}", root_path(tags: t.tag_name) %>
            <% end %>
          </p>
        <% if @post.post_images.attached? %>
          <div class="slider">
            <% @post.post_images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          </div>
        <% else %>
          <div>
          </div>
        <% end %>
        <br>
        <div class="large-text">
          <%= @post.explanation %>
        </div>

        <!--<　% @rakuten_items.first(3).each do |item| %>-->
        <!--  <tr>-->
        <!--    <td><　%= image_tag item.medium_image_urls.first %></td>-->
        <!--    <td><　%= item.url %></td>-->
        <!--  </tr>-->
        <!--<　% end %>-->



        <% if @post.user == current_user %>
          <div class="row justify-content-around">
            <%= link_to "編集する", edit_post_path(@post.id),class: 'btn btn-success btn-lg' %>
          </div>
        <% end %>
        <br>
        <div id="favorite_buttons_<%= @post.id %>" class="row justify-content-center">
          <%= render "public/favorites/favorites", post: @post %>
        </div>
        <br>
        <div id="comment_counter">
           <%= render "public/comments/count", post: @post %>
        </div>
        <h2>コメント</h2>
        <div id="comment_index">
          <%= render "public/comments/comment", post: @post %>
        </div>

        <br>
          <%= render "public/comments/form", post: @post, comment: @comment, user: @user %>
      </div>
    </div>

    <div class="col-3 offset-1" style="border-radius: 5%; background-color: white; height: 320px; border-radius: 20px; border: 2mm ridge rgba(187, 187, 187, .41);">
      <div class="py-2" style="display: flex; align-items: center;">
        <%= link_to image_tag(@user.get_profile_image, size: '100x100', style: 'border-radius: 50%; overflow: hidden; margin-right: 10px; border: 1px solid #a9a9a9;'), user_path(@user) %>
        <div>
          <h3><%= link_to @user.name, user_path(@user) %></h3>
          <% if current_user != @user %>
            <div id="follow_btn_<%= @user.id %>">
              <%= render "public/relationships/follow_btn", user: @user %>
            </div>
          <% else %>
            <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <p style="overflow: auto; height: 200px;">
      <%= @user.profile %>
      </p>
    </div>


  </div>
</div>