<div class="custom-comment">
<table class='table table-sm'>
  <tbody>
    <% post.comments.each do |comment| %>
      <% if comment.user.is_active %>
        <tr>
          <td style="text-align: center;"><%= link_to user_path(comment.user.id) do %>
            <%= image_tag comment.user.get_profile_image, size:'30x30', style: 'border-radius: 50%; overflow: hidden;  border: 1px solid #a9a9a9; background-color:#ffffff;' %><br>
            <%= comment.user.name %>
          <% end %>
          </td>
          <td>
            <%= comment.comment %>
          </td>
          <td>
            <%= post.created_at.strftime('%y-%m-%d') %>
          </td>
          <td>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "コメントが削除されます。本当によろしいですか？", class: "btn btn-sm btn-danger", remote: true do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>