<div class="container">
  <div class="row justify-content-center mt-4">
    <%= form_with(url: root_path, method: :get) do |f| %>
      <div class="mb-4" style="display: flex; gap: 20px; padding: 10px; border-radius: 20px; border: 2mm ridge rgba(187, 187, 187, .41); background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));">
        <h2>カテゴリ</h2>
        <%= f.select :category, options_for_select(@categories.pluck(:category_name), @selected_category), prompt: '全て' %>
        <h2>タグ</h2>
        <%= f.select :tags, options_for_select(@tags.pluck(:tag_name), @selected_tags), prompt: '全て' %>
        <h2>ソート</h2>
        <%= f.select :sort_order, options_for_select([['新しい順', 'desc'], ['古い順', 'asc'], ['いいね数順', 'favorites'], ['コメント数順', 'comments']], selected: @sort_order || 'desc'), include_blank: false, class: 'custom-select' %>
        <%= f.submit 'フィルタ' %>
      </div>
    <% end %>
    <%= render "public/posts/index", posts: @posts %>
    <div class="item__paginate"><%= paginate @posts %></div>
  </div>
</div>