<div class='container'>
<h3>カテゴリ編集</h3>
<% if @category.errors.any? %>
  <strong><%= @category.errors.count %>件のエラーが出たので登録できませんでした。</strong>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end%>
  </ul>
<% end %>
<%= form_with model:@category, url: admin_category_path, method: :patch, local:true do |f| %>
  <div class="form-group">
    <%= f.label :category_name, "カテゴリ名" %>
    <%= f.text_field :category_name,  class: 'form-control', style: "width:30%" %>
  </div>
  <div class="form-group">
    <%= f.submit "変更を保存", class: 'btn btn-outline-success' %>
  </div>
<% end %>
</div>