<div class="container py-5">
  <div class="row row-cols-1 d-flex justify-content-center">
    <div class="col-5" style="border-radius: 5%; background-color: white; border-radius: 20px; border: 2mm ridge rgba(187, 187, 187, .41);">
      <div class="py-3">
      <h2>アカウント編集</h2>
      <% if@user.errors.any? %>
      <div class="alert alert-danger">
        <strong><%= @user.errors.count %>件のエラーが出たので変更できませんでした。</strong>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end%>
        </ul>
      </div>
      <% end %>

      <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>

        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :profile_image , "プロフィール画像(任意)"%><br>
          <%= f.file_field :profile_image, accept: 'image/*' %>
        </div>

        <div class="field">
          <%= f.label :profile , "自己紹介(任意)"%><br>
          <%= f.text_area :profile, class: "form-control" %>
        </div>

        <!--<div class="field">-->
        <!--  < %= f.label :email %><br />-->
        <!--  < %= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
        <!--</div>-->

        <!--<div class="field">-->
        <!--  < %= f.label :password %>-->
        <!--  < % if @minimum_password_length %>-->
        <!--  <em>(<　%= @minimum_password_length %> 文字以上)</em>-->
        <!--  < % end %><br />-->
        <!--  < %= f.password_field :password, autocomplete: "new-password" %>-->
        <!--</div>-->

        <!--<div class="field">-->
        <!--  < %= f.label :password_confirmation %><br />-->
        <!--  < %= f.password_field :password_confirmation, autocomplete: "new-password" %>-->
        <!--</div>-->

        <div class="actions">
          <%= f.submit "変更を保存" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>