<div class='container px-sm-0'>
  <div class='row d-flex justify-content-center'>
    
      <% if @users.present? %>
      <div class='col-sm-5' style="display: flex; flex-direction: column; align-items: center; padding: 10px;">
        <h2>フォロー一覧</h2>
      </div>
        <% @users.each do |user| %>
          <div class='col-sm-8 pt-4'>
           <div class="media py-2 px-2" style="border-radius: 20px; border: 2mm ridge rgba(187, 187, 187, .41); background-color: white;">
              <%= link_to(image_tag(user.get_profile_image, class: 'profile-image'), user_path(user.id)) %>
              <div class="media-body">
                <h5 class="mt-0"><%= link_to user.name, user_path(user) %>
                  <div style="display: flex; align-items: center;">
                    <div id="follow_btn_<%= user.id %>">
                      <%= render "public/relationships/follow_btn", user: user %>
                    </div>
                    <div id="follower_count_<%= user.id %>">
                      <%= render "public/relationships/count", user: user %>
                    </div>
                  </div>
                </h5>
                <%= safe_join(user.profile.split("\n"),tag(:br)) %>
              </div>
            </div>
          </div>
          
        <% end %>
        <div class="item__paginate"><%= paginate @users %></div>
      <% else %>
        <h4>・フォローしたユーザーがいません</h4>
      <% end %>
    
  </div>
</div>