<% extend Public::PostsHelper %>
<div class='container px-5 px-sm-0'>
  <div class='row d-flex justify-content-center'>
    <div class='col-sm-10 pt-4'>
      <div class="media py-2 px-2" style="border-radius: 20px; border: 2mm ridge rgba(187, 187, 187, .41); background-color: white;">
        <%= image_tag @user.get_profile_image, size:'100x100', style: 'border-radius: 50%; overflow: hidden; margin-right: 10px; background-color: white; border: 1px solid #a9a9a9;' %>
        <div class="media-body">
          <h5 class="mt-0"><%= @user.name %>
          <% if current_admin && current_admin.id == 1 %>
            <br>
            <%= link_to(
              @user.is_active ? '有効ユーザー' : '無効ユーザー',
              admin_user_path(@user),
              method: :patch,
              remote: true,
              class: @user.is_active ? 'active-user' : 'inactive-user',
              data: { confirm: @user.is_active ? '有効ユーザーを無効にしますか？' : '無効ユーザーを有効にしますか？' }
            ) %>
          <% end %>
          <div style="display: flex; align-items: center;">
            <% if current_user != @user %>
              <div id="follow_btn_<%= @user.id %>">
                <%= render "public/relationships/follow_btn", user: @user %>
              </div>
            <% else %>
              <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary" do %>
                <i class="fas fa-user-cog"></i>
              <% end %>
            <% end %>
            <div id="follower_count_<%= @user.id %>">
              <%= render "public/relationships/count", user: @user %>
            </div>
          </div>
          </h5>
          <%= safe_join(@user.profile.split("\n"),tag(:br)) %>
        </div>
      </div>
      <% @posts.each do |post| %>
      <% category_color = determine_category_color(post.category.category_name) %>
        <% if user_signed_in? && (current_user.id == post.user.id || post.is_release) %>
          <div class="py-2">
            <div class="card" style="border-color: <%= category_color %>;">
              <div class="card-header" style="background-color: <%= category_color %>;">
                <%= link_to post.category.category_name, root_path, class: "btn btn-sm btn-secondary" %>
                <% if post.user == current_user %>
                  <% if post.is_release? %>
        						<span class="text-active">公開中</span>
        					<% else %>
        						<span class="text-invalid">非公開中</span>
        					<% end %>
        				<% end %>
              </div>
              <div class="card-body row align-items-center">
                <div class="col-sm-3 text-left">
                  <h2><%= link_to post.title, post_path(post.id) %></h2>
                </div>
                <div class="col-sm-1 text-center">
                  <%= link_to post_path(post.id) do %>
                    <%= image_tag post.get_post_image, size: '140x100', style: 'border-radius: 5%; overflow: hidden; background-color: white; margin-right: px;' %>
                  <% end %>
                </div>
                <div class="col-sm text-right">
                  <p class="badge badge-light">
                    <% post.tags.each do |t| %>
                      <%= link_to "##{t.tag_name}", root_path %>
                    <% end %>
                  </p>
                  <p class="badge badge-pill badge-primary">
                    いいね数<%= post.favorites.count %>
                  </p>
                  <p class="badge badge-primary">
                  コメント数:<%= post.comments.includes(:user).where(user: { is_active: true }).count %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% elsif !user_signed_in? && post.is_release %>
          <!-- ログインしていない場合には公開の投稿のみ表示 -->
          <div class="py-2">
            <div class="card" style="border-color: <%= category_color %>;">
              <div class="card-header" style="background-color: <%= category_color %>;">
                <%= link_to post.category.category_name, root_path, class: "btn btn-sm btn-secondary" %>
              </div>
              <div class="card-body row align-items-center">
                <div class="col-sm-3 text-left">
                  <h2><%= link_to post.title, post_path(post.id) %></h2>
                </div>
                <div class="col-sm-1 text-center">
                  <%= link_to post_path(post.id) do %>
                    <%= image_tag post.get_post_image, size: '140x100', style: 'border-radius: 5%; overflow: hidden; background-color: white; margin-right: px;' %>
                  <% end %>
                </div>
                <div class="col-sm text-right">
                  <p class="badge badge-light">
                    <% post.tags.each do |t| %>
                      <%= link_to "##{t.tag_name}", root_path %>
                    <% end %>
                  </p>
                  <p class="badge badge-pill badge-primary">
                    いいね数<%= post.favorites.count %>
                  </p>
                  <p class="badge badge-primary">
                    コメント数:<%= post.comments.includes(:user).where(user: { is_active: true }).count %>
                  </p>
                </div>
                  </div>
                </div>
              </div>
        <% end %>
      <% end %>
      <div class="item__paginate"><%= paginate @posts %></div>
      </div>
    </div>
  </div>
  