<header style="border-bottom: 4mm ridge rgba(187, 187, 187, .41); background-color: #fff;" >
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-2">
        <a class="navbar-brand pl-5" href="/"><%= image_tag 'f1006_4.png', size: '120x100' %></a>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <% if user_signed_in? %>
          <div>ようこそ、<%= current_user.name %>さん</div>
        <% end %>
      </div>

      <div class="col-md-6">
        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
  <!--userログイン時-->
          <% if user_signed_in? %>
            <li style="background-color: #dcdcdc; padding: 5px; border-radius: 30px;">
              <%= link_to new_post_path, class: 'nav-link font-weight-bolder' do %>
                <i class="fa-solid fa-circle-plus"></i> 投稿
              <% end %>
            </li>
            <li>
              <div class="mypage-btn-container" id="mypageBtnContainer">
                <div class="mx-4"><%= image_tag current_user.get_profile_image, size:'50x50', style: 'border-radius: 50%; overflow: hidden; background-color:#ffffff; border: 2px solid #a9a9a9;' %></div>
                <div class="mypage-dropdown" id="mypageDropdown">
                	<ul>
                	  <li class="py-2"><%= link_to 'マイページ', user_path(current_user) %></li>
                	  <li class="py-2"><%= link_to 'お気に入り', favorite_user_path(current_user) %></li>
                	  <li class="py-2"><%= link_to 'フォロー一覧', follows_user_path(current_user) %></li>
                	  <li class="py-2"><%= link_to 'フォロワー一覧', followers_user_path(current_user) %></li>
                	  <li class="py-2"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                	  <li class="py-2"><%= link_to "退会する", withdraw_user_path(current_user), method: :patch, "data-confirm" => "OKを押すと退会処理がされます。投稿した記事やコメントが削除されます。本当によろしいですか？" %></li>
                	</ul>
                </div>
              </div>
            </li>
  <!--adminログイン時-->
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admin_categories_path, class: 'nav-link font-weight-bolder' do %>
                <i class="fas fa-sign-out-alt"></i> カテゴリ
              <% end %>
            </li>
            <li>
              <%= link_to admin_tags_path, class: 'nav-link font-weight-bolder' do %>
                <i class="fas fa-sign-out-alt"></i> ジャンル
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link font-weight-bolder' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
  <!--ログアウト時-->
          <% else %>
            <li>
              <%= link_to users_guest_sign_in_path, class: "nav-link font-weight-bolder", method: :post  do %>
                <i class="fa-solid fa-key"></i> ゲストログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: 'nav-link font-weight-bolder' do %>
                <i class="fa-solid fa-pen"></i> 新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: 'nav-link font-weight-bolder' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
          <% end %>
          </ul>
          </div>
        </nav>
  <!--検索窓-->
        <div class="row justify-content-end pr-5 pb-2">
          <%= form_with url: search_path, local: true, method: :get, class: "search-form" do |f| %>
            <%= f.text_field :keyword, placeholder: "投稿を検索する", value: params[:keyword], class: "search-input" %>
            <%= f.submit "検索", class: "search-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>